a.advanced-report-download-link {
	background-position: left center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	margin-right: 5px;
	overflow: hidden;
	text-indent: -999px;
	width: 16px;
}

a.advanced-report-download-link[href$=".html"] {
	background-image: url(images/html.png);
}

a.advanced-report-download-link[href$=".csv"] {
	background-image: url(images/page_excel.png);
}

a.advanced-report-download-link[href$=".pdf"] {
	background-image: url(images/page_white_acrobat.png);
}
